doctype html
html
    head
        title Alexander Steel
    body
    ul
        li
            a(href='/') Home
        li
            a(href='/projects') Projects
        li
            a(href='/resume') Resume
        li
            a(href='github.com/saucewagon') GitHub
        block content
